@font-face {font-family: computer-robot; src: url('/fonts/ComputerRobot.ttf');}

body {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; background: #f8f8f8;}

nav { color: #FFF;}

nav.large_menu { position:fixed; background: #232323; top: 0; left: 0; bottom: 0; width: 150px;}
nav.large_menu > header { margin: 20px 0;}
nav.large_menu > header div{ text-align: center; font-family: computer-robot; font-size: 35px; }
nav.large_menu ul {list-style-type: none; padding: 0px; margin:25px 0;}
nav.large_menu ul li {line-height: 20px; text-align: center; margin: 10px 0; padding: 5px; cursor:pointer;-o-transition:background 0.5s linear; -ms-transition:background 0.5s linear; -moz-transition:background 0.5s linear; -webkit-transition:background 0.5s linear; transition:background 0.5s linear;}
nav.large_menu ul li:hover {background: #2e3038;}
nav.large_menu ul li div.article_item_icon {width: 32px; height: 32px; background: url('/img/icons/article.png') no-repeat; margin: auto;}
nav.large_menu ul li span {text-transform: uppercase; font-size: 0.85em; font-weight: bold;}

nav.small_menu { position:fixed; background: #232323; top: 0; left: 0; right: 0; height: 70px; }
nav.small_menu ul {z-index:999; list-style-type: none; background: #2e3038;width: 240px; margin: 0px; left: -240px; padding: 30px 0px; top: 70px; bottom: 0; position: fixed; overflow: auto;-o-transition:left 0.2s linear; -ms-transition:left 0.2s linear; -moz-transition:left 0.2s linear; -webkit-transition:left 0.2s linear; transition:left 0.2s linear;}
nav.small_menu ul.show {left: 0;}
nav.small_menu ul li {line-height: 20px; padding: 10px; cursor:pointer; margin: 10px 0;}
nav.small_menu > header > span.small_menu_show {cursor: pointer; background: url('/img/design/menu_icon.png') no-repeat;width: 49px; height: 33px; background-size: 49px 33px; position: absolute; top: 17px;}
nav.small_menu > header div {font-size: 50px; text-align: center; font-family: computer-robot;}

div#container.large_menu {margin-left: 150px;}

div#container.small_menu {margin-top: 75px;}

div#disabledBackground {position:fixed; top:70px; left:0; background:#282828; opacity:0.7; z-index:998; height:100%; width:100%;-o-transition:opacity 0.5s linear; -ms-transition:opacity 0.5s linear; -moz-transition:opacity 0.5s linear; -webkit-transition:opacity 0.5s linear; transition:opacity 0.5s linear;}

div#container > section {display: flex;}
div#container > section > article {border: 1px solid #c0c0c0; width:130px; height: 150px; padding: 10px; text-align: center; margin:10px; box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); position: relative; cursor: pointer;}
div#container > section > article > header {font-size: 1.1em; font-weight: bold; }
div#container > section > article > time {font-size: 0.75em; font-style: italic; }
div#container > section > article > footer { background: #3f3f3f; color: #fff; position: absolute; bottom: 0; left: 0; right: 0; min-height: 30px; padding-top: 12px;}